<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.games.lorenz.jhun.mygame">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logojla"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logojla"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StartActivity" />
        <activity android:name=".GameMainActivity" />
        <activity android:name=".ResultActivity" />
        <activity android:name=".ShopActivity" />
        <activity android:name=".MainSelection" />
        <activity android:name=".CatchHustleMainActivity" />
        <activity
            android:name=".catchHustlePlayGameActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".MainActivityAnagramLogic">

        </activity>
    </application>

</manifest>